# Whole

/Code
/GIMP
/goa-1.0
/gtk-2.0
/gtk-3.0
/Ryujinx
/yarn
/go
/VirtualBox
/nautilus
/gnome-session

# Partial

/kitty/kitty.conf.bak
/nvim/plugin
arkrc
droidcam
kglobalshortcutsrc
mimeapps.list
QtProject.conf
